:root {
    --body: #F6F5F3;
    --primary: #254779;
    --font: #292929;
}

body {
    background-color: var(--body);
    font-family: "Poppins", sans-serif;
    color: var(--font);
    font-size: 16px;
    overflow-x: hidden;
}

.color-acsent1 {
    color: var(--primary);
}

.color-acsent2 {
    color: var(--font);
}

/* Navbar */
.active {
    color: var(--primary) !important; 
}

.navbar-nav a {
    margin-right: 70px !important;
}

.btn1 {
    background-color: var(--primary);
    text-align: center;
    padding: 6px 24px;
    color: var(--body);
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    font-weight: 700;
}
/* End Navbar */

main {
  height: 60vh;
}

/* Footer */
footer {
  padding: 0 6rem;
    display: flex;
    justify-content: space-between;
}

footer h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary);
}

.left-footer {
  width: 50%;
}

.right-footer {
  display: flex;
  justify-content:flex-end;
  width: 50%;
}

.footer-logo {
  width: 10rem;
}

.footer-icons {
  font-size: 2rem;
}

.footer-icons a{
  color: var(--primary) !important;
}


/* End Footer */